n20_oaps_0noise/act_sequence_n20_sample0.dat
n20_oaps_0noise/act_sequence_n20_sample1.dat
n20_oaps_0noise/act_sequence_n20_sample2.dat
n20_oaps_0noise/act_sequence_n20_sample3.dat
n20_oaps_0noise/act_sequence_n20_sample4.dat
n20_oaps_0noise/act_sequence_n20_sample5.dat
n20_oaps_0noise/act_sequence_n20_sample6.dat
n20_oaps_0noise/act_sequence_n20_sample7.dat
n20_oaps_0noise/act_sequence_n20_sample8.dat
n20_oaps_0noise/act_sequence_n20_sample9.dat
n20_oaps_0noise/act_sequence_n20_sample10.dat
n20_oaps_0noise/act_sequence_n20_sample11.dat
n20_oaps_0noise/act_sequence_n20_sample12.dat
n20_oaps_0noise/act_sequence_n20_sample13.dat
n20_oaps_0noise/act_sequence_n20_sample14.dat
n20_oaps_0noise/act_sequence_n20_sample15.dat
n20_oaps_0noise/act_sequence_n20_sample16.dat
n20_oaps_0noise/act_sequence_n20_sample17.dat
n20_oaps_0noise/act_sequence_n20_sample18.dat
n20_oaps_0noise/act_sequence_n20_sample19.dat
n20_oaps_0noise/act_sequence_n20_sample20.dat
n20_oaps_0noise/act_sequence_n20_sample21.dat
n20_oaps_0noise/act_sequence_n20_sample22.dat
n20_oaps_0noise/act_sequence_n20_sample23.dat
n20_oaps_0noise/act_sequence_n20_sample24.dat
n20_oaps_0noise/act_sequence_n20_sample25.dat
n20_oaps_0noise/act_sequence_n20_sample26.dat
n20_oaps_0noise/act_sequence_n20_sample27.dat
n20_oaps_0noise/act_sequence_n20_sample28.dat
n20_oaps_0noise/act_sequence_n20_sample29.dat
n20_oaps_0noise/act_sequence_n20_sample30.dat
n20_oaps_0noise/act_sequence_n20_sample31.dat
n20_oaps_0noise/act_sequence_n20_sample32.dat
n20_oaps_0noise/act_sequence_n20_sample33.dat
n20_oaps_0noise/act_sequence_n20_sample34.dat
n20_oaps_0noise/act_sequence_n20_sample35.dat
n20_oaps_0noise/act_sequence_n20_sample36.dat
n20_oaps_0noise/act_sequence_n20_sample37.dat
n20_oaps_0noise/act_sequence_n20_sample38.dat
n20_oaps_0noise/act_sequence_n20_sample39.dat
n20_oaps_0noise/act_sequence_n20_sample40.dat
n20_oaps_0noise/act_sequence_n20_sample41.dat
n20_oaps_0noise/act_sequence_n20_sample42.dat
n20_oaps_0noise/act_sequence_n20_sample43.dat
n20_oaps_0noise/act_sequence_n20_sample44.dat
n20_oaps_0noise/act_sequence_n20_sample45.dat
n20_oaps_0noise/act_sequence_n20_sample46.dat
n20_oaps_0noise/act_sequence_n20_sample47.dat
n20_oaps_0noise/act_sequence_n20_sample48.dat
n20_oaps_0noise/act_sequence_n20_sample49.dat
n20_oaps_0noise/act_sequence_n20_sample50.dat
n20_oaps_0noise/act_sequence_n20_sample51.dat
n20_oaps_0noise/act_sequence_n20_sample52.dat
n20_oaps_0noise/act_sequence_n20_sample53.dat
n20_oaps_0noise/act_sequence_n20_sample54.dat
n20_oaps_0noise/act_sequence_n20_sample55.dat
n20_oaps_0noise/act_sequence_n20_sample56.dat
n20_oaps_0noise/act_sequence_n20_sample57.dat
n20_oaps_0noise/act_sequence_n20_sample58.dat
n20_oaps_0noise/act_sequence_n20_sample59.dat
n20_oaps_0noise/act_sequence_n20_sample60.dat
n20_oaps_0noise/act_sequence_n20_sample61.dat
n20_oaps_0noise/act_sequence_n20_sample62.dat
n20_oaps_0noise/act_sequence_n20_sample63.dat
n20_oaps_0noise/act_sequence_n20_sample64.dat
n20_oaps_0noise/act_sequence_n20_sample65.dat
n20_oaps_0noise/act_sequence_n20_sample66.dat
n20_oaps_0noise/act_sequence_n20_sample67.dat
n20_oaps_0noise/act_sequence_n20_sample68.dat
n20_oaps_0noise/act_sequence_n20_sample69.dat
n20_oaps_0noise/act_sequence_n20_sample70.dat
n20_oaps_0noise/act_sequence_n20_sample71.dat
n20_oaps_0noise/act_sequence_n20_sample72.dat
n20_oaps_0noise/act_sequence_n20_sample73.dat
n20_oaps_0noise/act_sequence_n20_sample74.dat
n20_oaps_0noise/act_sequence_n20_sample75.dat
n20_oaps_0noise/act_sequence_n20_sample76.dat
n20_oaps_0noise/act_sequence_n20_sample77.dat
n20_oaps_0noise/act_sequence_n20_sample78.dat
n20_oaps_0noise/act_sequence_n20_sample79.dat
n20_oaps_0noise/act_sequence_n20_sample80.dat
n20_oaps_0noise/act_sequence_n20_sample81.dat
n20_oaps_0noise/act_sequence_n20_sample82.dat
n20_oaps_0noise/act_sequence_n20_sample83.dat
n20_oaps_0noise/act_sequence_n20_sample84.dat
n20_oaps_0noise/act_sequence_n20_sample85.dat
n20_oaps_0noise/act_sequence_n20_sample86.dat
n20_oaps_0noise/act_sequence_n20_sample87.dat
n20_oaps_0noise/act_sequence_n20_sample88.dat
n20_oaps_0noise/act_sequence_n20_sample89.dat
n20_oaps_0noise/act_sequence_n20_sample90.dat
n20_oaps_0noise/act_sequence_n20_sample91.dat
n20_oaps_0noise/act_sequence_n20_sample92.dat
n20_oaps_0noise/act_sequence_n20_sample93.dat
n20_oaps_0noise/act_sequence_n20_sample94.dat
n20_oaps_0noise/act_sequence_n20_sample95.dat
n20_oaps_0noise/act_sequence_n20_sample96.dat
n20_oaps_0noise/act_sequence_n20_sample97.dat
n20_oaps_0noise/act_sequence_n20_sample98.dat
n20_oaps_0noise/act_sequence_n20_sample99.dat
n20_oaps_0noise/dc_ga.py
n20_oaps_0noise/dgamod.py
n20_oaps_0noise/gan20_oaps_0noise.ini
n20_oaps_0noise/nvsmaxfid.dat
n20_oaps_0noise/__pycache__/dgamod.cpython-39.pyc
n20_oaps_1noise/act_sequence_n20_sample0.dat
n20_oaps_1noise/act_sequence_n20_sample1.dat
n20_oaps_1noise/act_sequence_n20_sample2.dat
n20_oaps_1noise/act_sequence_n20_sample3.dat
n20_oaps_1noise/act_sequence_n20_sample4.dat
n20_oaps_1noise/act_sequence_n20_sample5.dat
n20_oaps_1noise/act_sequence_n20_sample6.dat
n20_oaps_1noise/act_sequence_n20_sample7.dat
n20_oaps_1noise/act_sequence_n20_sample8.dat
n20_oaps_1noise/act_sequence_n20_sample9.dat
n20_oaps_1noise/act_sequence_n20_sample10.dat
n20_oaps_1noise/act_sequence_n20_sample11.dat
n20_oaps_1noise/act_sequence_n20_sample12.dat
n20_oaps_1noise/act_sequence_n20_sample13.dat
n20_oaps_1noise/act_sequence_n20_sample14.dat
n20_oaps_1noise/act_sequence_n20_sample15.dat
n20_oaps_1noise/act_sequence_n20_sample16.dat
n20_oaps_1noise/act_sequence_n20_sample17.dat
n20_oaps_1noise/act_sequence_n20_sample18.dat
n20_oaps_1noise/act_sequence_n20_sample19.dat
n20_oaps_1noise/act_sequence_n20_sample20.dat
n20_oaps_1noise/act_sequence_n20_sample21.dat
n20_oaps_1noise/act_sequence_n20_sample22.dat
n20_oaps_1noise/act_sequence_n20_sample23.dat
n20_oaps_1noise/act_sequence_n20_sample24.dat
n20_oaps_1noise/act_sequence_n20_sample25.dat
n20_oaps_1noise/act_sequence_n20_sample26.dat
n20_oaps_1noise/act_sequence_n20_sample27.dat
n20_oaps_1noise/act_sequence_n20_sample28.dat
n20_oaps_1noise/act_sequence_n20_sample29.dat
n20_oaps_1noise/act_sequence_n20_sample30.dat
n20_oaps_1noise/act_sequence_n20_sample31.dat
n20_oaps_1noise/act_sequence_n20_sample32.dat
n20_oaps_1noise/act_sequence_n20_sample33.dat
n20_oaps_1noise/act_sequence_n20_sample34.dat
n20_oaps_1noise/act_sequence_n20_sample35.dat
n20_oaps_1noise/act_sequence_n20_sample36.dat
n20_oaps_1noise/act_sequence_n20_sample37.dat
n20_oaps_1noise/act_sequence_n20_sample38.dat
n20_oaps_1noise/act_sequence_n20_sample39.dat
n20_oaps_1noise/act_sequence_n20_sample40.dat
n20_oaps_1noise/act_sequence_n20_sample41.dat
n20_oaps_1noise/act_sequence_n20_sample42.dat
n20_oaps_1noise/act_sequence_n20_sample43.dat
n20_oaps_1noise/act_sequence_n20_sample44.dat
n20_oaps_1noise/act_sequence_n20_sample45.dat
n20_oaps_1noise/act_sequence_n20_sample46.dat
n20_oaps_1noise/act_sequence_n20_sample47.dat
n20_oaps_1noise/act_sequence_n20_sample48.dat
n20_oaps_1noise/act_sequence_n20_sample49.dat
n20_oaps_1noise/act_sequence_n20_sample50.dat
n20_oaps_1noise/act_sequence_n20_sample51.dat
n20_oaps_1noise/act_sequence_n20_sample52.dat
n20_oaps_1noise/act_sequence_n20_sample53.dat
n20_oaps_1noise/act_sequence_n20_sample54.dat
n20_oaps_1noise/act_sequence_n20_sample55.dat
n20_oaps_1noise/act_sequence_n20_sample56.dat
n20_oaps_1noise/act_sequence_n20_sample57.dat
n20_oaps_1noise/act_sequence_n20_sample58.dat
n20_oaps_1noise/act_sequence_n20_sample59.dat
n20_oaps_1noise/act_sequence_n20_sample60.dat
n20_oaps_1noise/act_sequence_n20_sample61.dat
n20_oaps_1noise/act_sequence_n20_sample62.dat
n20_oaps_1noise/act_sequence_n20_sample63.dat
n20_oaps_1noise/act_sequence_n20_sample64.dat
n20_oaps_1noise/act_sequence_n20_sample65.dat
n20_oaps_1noise/act_sequence_n20_sample66.dat
n20_oaps_1noise/act_sequence_n20_sample67.dat
n20_oaps_1noise/act_sequence_n20_sample68.dat
n20_oaps_1noise/act_sequence_n20_sample69.dat
n20_oaps_1noise/act_sequence_n20_sample70.dat
n20_oaps_1noise/act_sequence_n20_sample71.dat
n20_oaps_1noise/act_sequence_n20_sample72.dat
n20_oaps_1noise/act_sequence_n20_sample73.dat
n20_oaps_1noise/act_sequence_n20_sample74.dat
n20_oaps_1noise/act_sequence_n20_sample75.dat
n20_oaps_1noise/act_sequence_n20_sample76.dat
n20_oaps_1noise/act_sequence_n20_sample77.dat
n20_oaps_1noise/act_sequence_n20_sample78.dat
n20_oaps_1noise/act_sequence_n20_sample79.dat
n20_oaps_1noise/act_sequence_n20_sample80.dat
n20_oaps_1noise/act_sequence_n20_sample81.dat
n20_oaps_1noise/act_sequence_n20_sample82.dat
n20_oaps_1noise/act_sequence_n20_sample83.dat
n20_oaps_1noise/act_sequence_n20_sample84.dat
n20_oaps_1noise/act_sequence_n20_sample85.dat
n20_oaps_1noise/act_sequence_n20_sample86.dat
n20_oaps_1noise/act_sequence_n20_sample87.dat
n20_oaps_1noise/act_sequence_n20_sample88.dat
n20_oaps_1noise/act_sequence_n20_sample89.dat
n20_oaps_1noise/act_sequence_n20_sample90.dat
n20_oaps_1noise/act_sequence_n20_sample91.dat
n20_oaps_1noise/act_sequence_n20_sample92.dat
n20_oaps_1noise/act_sequence_n20_sample93.dat
n20_oaps_1noise/act_sequence_n20_sample94.dat
n20_oaps_1noise/act_sequence_n20_sample95.dat
n20_oaps_1noise/act_sequence_n20_sample96.dat
n20_oaps_1noise/act_sequence_n20_sample97.dat
n20_oaps_1noise/act_sequence_n20_sample98.dat
n20_oaps_1noise/act_sequence_n20_sample99.dat
n20_oaps_1noise/dc_ga.py
n20_oaps_1noise/dgamod.py
n20_oaps_1noise/gan20_oaps_1noise.ini
n20_oaps_1noise/nvsmaxfid.dat
n20_oaps_1noise/__pycache__/dgamod.cpython-39.pyc
n20_oaps_5noise/act_sequence_n20_sample0.dat
n20_oaps_5noise/act_sequence_n20_sample1.dat
n20_oaps_5noise/act_sequence_n20_sample2.dat
n20_oaps_5noise/act_sequence_n20_sample3.dat
n20_oaps_5noise/act_sequence_n20_sample4.dat
n20_oaps_5noise/act_sequence_n20_sample5.dat
n20_oaps_5noise/act_sequence_n20_sample6.dat
n20_oaps_5noise/act_sequence_n20_sample7.dat
n20_oaps_5noise/act_sequence_n20_sample8.dat
n20_oaps_5noise/act_sequence_n20_sample9.dat
n20_oaps_5noise/act_sequence_n20_sample10.dat
n20_oaps_5noise/act_sequence_n20_sample11.dat
n20_oaps_5noise/act_sequence_n20_sample12.dat
n20_oaps_5noise/act_sequence_n20_sample13.dat
n20_oaps_5noise/act_sequence_n20_sample14.dat
n20_oaps_5noise/act_sequence_n20_sample15.dat
n20_oaps_5noise/act_sequence_n20_sample16.dat
n20_oaps_5noise/act_sequence_n20_sample17.dat
n20_oaps_5noise/act_sequence_n20_sample18.dat
n20_oaps_5noise/act_sequence_n20_sample19.dat
n20_oaps_5noise/act_sequence_n20_sample20.dat
n20_oaps_5noise/act_sequence_n20_sample21.dat
n20_oaps_5noise/act_sequence_n20_sample22.dat
n20_oaps_5noise/act_sequence_n20_sample23.dat
n20_oaps_5noise/act_sequence_n20_sample24.dat
n20_oaps_5noise/act_sequence_n20_sample25.dat
n20_oaps_5noise/act_sequence_n20_sample26.dat
n20_oaps_5noise/act_sequence_n20_sample27.dat
n20_oaps_5noise/act_sequence_n20_sample28.dat
n20_oaps_5noise/act_sequence_n20_sample29.dat
n20_oaps_5noise/act_sequence_n20_sample30.dat
n20_oaps_5noise/act_sequence_n20_sample31.dat
n20_oaps_5noise/act_sequence_n20_sample32.dat
n20_oaps_5noise/act_sequence_n20_sample33.dat
n20_oaps_5noise/act_sequence_n20_sample34.dat
n20_oaps_5noise/act_sequence_n20_sample35.dat
n20_oaps_5noise/act_sequence_n20_sample36.dat
n20_oaps_5noise/act_sequence_n20_sample37.dat
n20_oaps_5noise/act_sequence_n20_sample38.dat
n20_oaps_5noise/act_sequence_n20_sample39.dat
n20_oaps_5noise/act_sequence_n20_sample40.dat
n20_oaps_5noise/act_sequence_n20_sample41.dat
n20_oaps_5noise/act_sequence_n20_sample42.dat
n20_oaps_5noise/act_sequence_n20_sample43.dat
n20_oaps_5noise/act_sequence_n20_sample44.dat
n20_oaps_5noise/act_sequence_n20_sample45.dat
n20_oaps_5noise/act_sequence_n20_sample46.dat
n20_oaps_5noise/act_sequence_n20_sample47.dat
n20_oaps_5noise/act_sequence_n20_sample48.dat
n20_oaps_5noise/act_sequence_n20_sample49.dat
n20_oaps_5noise/act_sequence_n20_sample50.dat
n20_oaps_5noise/act_sequence_n20_sample51.dat
n20_oaps_5noise/act_sequence_n20_sample52.dat
n20_oaps_5noise/act_sequence_n20_sample53.dat
n20_oaps_5noise/act_sequence_n20_sample54.dat
n20_oaps_5noise/act_sequence_n20_sample55.dat
n20_oaps_5noise/act_sequence_n20_sample56.dat
n20_oaps_5noise/act_sequence_n20_sample57.dat
n20_oaps_5noise/act_sequence_n20_sample58.dat
n20_oaps_5noise/act_sequence_n20_sample59.dat
n20_oaps_5noise/act_sequence_n20_sample60.dat
n20_oaps_5noise/act_sequence_n20_sample61.dat
n20_oaps_5noise/act_sequence_n20_sample62.dat
n20_oaps_5noise/act_sequence_n20_sample63.dat
n20_oaps_5noise/act_sequence_n20_sample64.dat
n20_oaps_5noise/act_sequence_n20_sample65.dat
n20_oaps_5noise/act_sequence_n20_sample66.dat
n20_oaps_5noise/act_sequence_n20_sample67.dat
n20_oaps_5noise/act_sequence_n20_sample68.dat
n20_oaps_5noise/act_sequence_n20_sample69.dat
n20_oaps_5noise/act_sequence_n20_sample70.dat
n20_oaps_5noise/act_sequence_n20_sample71.dat
n20_oaps_5noise/act_sequence_n20_sample72.dat
n20_oaps_5noise/act_sequence_n20_sample73.dat
n20_oaps_5noise/act_sequence_n20_sample74.dat
n20_oaps_5noise/act_sequence_n20_sample75.dat
n20_oaps_5noise/act_sequence_n20_sample76.dat
n20_oaps_5noise/act_sequence_n20_sample77.dat
n20_oaps_5noise/act_sequence_n20_sample78.dat
n20_oaps_5noise/act_sequence_n20_sample79.dat
n20_oaps_5noise/act_sequence_n20_sample80.dat
n20_oaps_5noise/act_sequence_n20_sample81.dat
n20_oaps_5noise/act_sequence_n20_sample82.dat
n20_oaps_5noise/act_sequence_n20_sample83.dat
n20_oaps_5noise/act_sequence_n20_sample84.dat
n20_oaps_5noise/act_sequence_n20_sample85.dat
n20_oaps_5noise/act_sequence_n20_sample86.dat
n20_oaps_5noise/act_sequence_n20_sample87.dat
n20_oaps_5noise/act_sequence_n20_sample88.dat
n20_oaps_5noise/act_sequence_n20_sample89.dat
n20_oaps_5noise/act_sequence_n20_sample90.dat
n20_oaps_5noise/act_sequence_n20_sample91.dat
n20_oaps_5noise/act_sequence_n20_sample92.dat
n20_oaps_5noise/act_sequence_n20_sample93.dat
n20_oaps_5noise/act_sequence_n20_sample94.dat
n20_oaps_5noise/act_sequence_n20_sample95.dat
n20_oaps_5noise/act_sequence_n20_sample96.dat
n20_oaps_5noise/act_sequence_n20_sample97.dat
n20_oaps_5noise/act_sequence_n20_sample98.dat
n20_oaps_5noise/act_sequence_n20_sample99.dat
n20_oaps_5noise/dc_ga.py
n20_oaps_5noise/dgamod.py
n20_oaps_5noise/gan20_oaps_5noise.ini
n20_oaps_5noise/nvsmaxfid.dat
n20_oaps_5noise/__pycache__/dgamod.cpython-39.pyc
n20_oaps_10noise/act_sequence_n20_sample0.dat
n20_oaps_10noise/act_sequence_n20_sample1.dat
n20_oaps_10noise/act_sequence_n20_sample2.dat
n20_oaps_10noise/act_sequence_n20_sample3.dat
n20_oaps_10noise/act_sequence_n20_sample4.dat
n20_oaps_10noise/act_sequence_n20_sample5.dat
n20_oaps_10noise/act_sequence_n20_sample6.dat
n20_oaps_10noise/act_sequence_n20_sample7.dat
n20_oaps_10noise/act_sequence_n20_sample8.dat
n20_oaps_10noise/act_sequence_n20_sample9.dat
n20_oaps_10noise/act_sequence_n20_sample10.dat
n20_oaps_10noise/act_sequence_n20_sample11.dat
n20_oaps_10noise/act_sequence_n20_sample12.dat
n20_oaps_10noise/act_sequence_n20_sample13.dat
n20_oaps_10noise/act_sequence_n20_sample14.dat
n20_oaps_10noise/act_sequence_n20_sample15.dat
n20_oaps_10noise/act_sequence_n20_sample16.dat
n20_oaps_10noise/act_sequence_n20_sample17.dat
n20_oaps_10noise/act_sequence_n20_sample18.dat
n20_oaps_10noise/act_sequence_n20_sample19.dat
n20_oaps_10noise/act_sequence_n20_sample20.dat
n20_oaps_10noise/act_sequence_n20_sample21.dat
n20_oaps_10noise/act_sequence_n20_sample22.dat
n20_oaps_10noise/act_sequence_n20_sample23.dat
n20_oaps_10noise/act_sequence_n20_sample24.dat
n20_oaps_10noise/act_sequence_n20_sample25.dat
n20_oaps_10noise/act_sequence_n20_sample26.dat
n20_oaps_10noise/act_sequence_n20_sample27.dat
n20_oaps_10noise/act_sequence_n20_sample28.dat
n20_oaps_10noise/act_sequence_n20_sample29.dat
n20_oaps_10noise/act_sequence_n20_sample30.dat
n20_oaps_10noise/act_sequence_n20_sample31.dat
n20_oaps_10noise/act_sequence_n20_sample32.dat
n20_oaps_10noise/act_sequence_n20_sample33.dat
n20_oaps_10noise/act_sequence_n20_sample34.dat
n20_oaps_10noise/act_sequence_n20_sample35.dat
n20_oaps_10noise/act_sequence_n20_sample36.dat
n20_oaps_10noise/act_sequence_n20_sample37.dat
n20_oaps_10noise/act_sequence_n20_sample38.dat
n20_oaps_10noise/act_sequence_n20_sample39.dat
n20_oaps_10noise/act_sequence_n20_sample40.dat
n20_oaps_10noise/act_sequence_n20_sample41.dat
n20_oaps_10noise/act_sequence_n20_sample42.dat
n20_oaps_10noise/act_sequence_n20_sample43.dat
n20_oaps_10noise/act_sequence_n20_sample44.dat
n20_oaps_10noise/act_sequence_n20_sample45.dat
n20_oaps_10noise/act_sequence_n20_sample46.dat
n20_oaps_10noise/act_sequence_n20_sample47.dat
n20_oaps_10noise/act_sequence_n20_sample48.dat
n20_oaps_10noise/act_sequence_n20_sample49.dat
n20_oaps_10noise/act_sequence_n20_sample50.dat
n20_oaps_10noise/act_sequence_n20_sample51.dat
n20_oaps_10noise/act_sequence_n20_sample52.dat
n20_oaps_10noise/act_sequence_n20_sample53.dat
n20_oaps_10noise/act_sequence_n20_sample54.dat
n20_oaps_10noise/act_sequence_n20_sample55.dat
n20_oaps_10noise/act_sequence_n20_sample56.dat
n20_oaps_10noise/act_sequence_n20_sample57.dat
n20_oaps_10noise/act_sequence_n20_sample58.dat
n20_oaps_10noise/act_sequence_n20_sample59.dat
n20_oaps_10noise/act_sequence_n20_sample60.dat
n20_oaps_10noise/act_sequence_n20_sample61.dat
n20_oaps_10noise/act_sequence_n20_sample62.dat
n20_oaps_10noise/act_sequence_n20_sample63.dat
n20_oaps_10noise/act_sequence_n20_sample64.dat
n20_oaps_10noise/act_sequence_n20_sample65.dat
n20_oaps_10noise/act_sequence_n20_sample66.dat
n20_oaps_10noise/act_sequence_n20_sample67.dat
n20_oaps_10noise/act_sequence_n20_sample68.dat
n20_oaps_10noise/act_sequence_n20_sample69.dat
n20_oaps_10noise/act_sequence_n20_sample70.dat
n20_oaps_10noise/act_sequence_n20_sample71.dat
n20_oaps_10noise/act_sequence_n20_sample72.dat
n20_oaps_10noise/act_sequence_n20_sample73.dat
n20_oaps_10noise/act_sequence_n20_sample74.dat
n20_oaps_10noise/act_sequence_n20_sample75.dat
n20_oaps_10noise/act_sequence_n20_sample76.dat
n20_oaps_10noise/act_sequence_n20_sample77.dat
n20_oaps_10noise/act_sequence_n20_sample78.dat
n20_oaps_10noise/act_sequence_n20_sample79.dat
n20_oaps_10noise/act_sequence_n20_sample80.dat
n20_oaps_10noise/act_sequence_n20_sample81.dat
n20_oaps_10noise/act_sequence_n20_sample82.dat
n20_oaps_10noise/act_sequence_n20_sample83.dat
n20_oaps_10noise/act_sequence_n20_sample84.dat
n20_oaps_10noise/act_sequence_n20_sample85.dat
n20_oaps_10noise/act_sequence_n20_sample86.dat
n20_oaps_10noise/act_sequence_n20_sample87.dat
n20_oaps_10noise/act_sequence_n20_sample88.dat
n20_oaps_10noise/act_sequence_n20_sample89.dat
n20_oaps_10noise/act_sequence_n20_sample90.dat
n20_oaps_10noise/act_sequence_n20_sample91.dat
n20_oaps_10noise/act_sequence_n20_sample92.dat
n20_oaps_10noise/act_sequence_n20_sample93.dat
n20_oaps_10noise/act_sequence_n20_sample94.dat
n20_oaps_10noise/act_sequence_n20_sample95.dat
n20_oaps_10noise/act_sequence_n20_sample96.dat
n20_oaps_10noise/act_sequence_n20_sample97.dat
n20_oaps_10noise/act_sequence_n20_sample98.dat
n20_oaps_10noise/act_sequence_n20_sample99.dat
n20_oaps_10noise/dc_ga.py
n20_oaps_10noise/dgamod.py
n20_oaps_10noise/gan20_oaps_10noise.ini
n20_oaps_10noise/nvsmaxfid.dat
n20_oaps_10noise/__pycache__/dgamod.cpython-39.pyc
n40_oaps_01noise/act_sequence_n40_sample0.dat
n40_oaps_01noise/act_sequence_n40_sample1.dat
n40_oaps_01noise/act_sequence_n40_sample2.dat
n40_oaps_01noise/act_sequence_n40_sample3.dat
n40_oaps_01noise/act_sequence_n40_sample4.dat
n40_oaps_01noise/act_sequence_n40_sample5.dat
n40_oaps_01noise/act_sequence_n40_sample6.dat
n40_oaps_01noise/act_sequence_n40_sample7.dat
n40_oaps_01noise/act_sequence_n40_sample8.dat
n40_oaps_01noise/act_sequence_n40_sample9.dat
n40_oaps_01noise/act_sequence_n40_sample10.dat
n40_oaps_01noise/act_sequence_n40_sample11.dat
n40_oaps_01noise/act_sequence_n40_sample12.dat
n40_oaps_01noise/act_sequence_n40_sample13.dat
n40_oaps_01noise/act_sequence_n40_sample14.dat
n40_oaps_01noise/act_sequence_n40_sample15.dat
n40_oaps_01noise/act_sequence_n40_sample16.dat
n40_oaps_01noise/act_sequence_n40_sample17.dat
n40_oaps_01noise/act_sequence_n40_sample18.dat
n40_oaps_01noise/dc_ga.py
n40_oaps_01noise/dgamod.py
n40_oaps_01noise/gan40_oaps_01noise.ini
n40_oaps_01noise/nvsmaxfid.dat
n40_oaps_01noise/__pycache__/dgamod.cpython-39.pyc
n40_oaps_1noise/act_sequence_n40_sample0.dat
n40_oaps_1noise/act_sequence_n40_sample1.dat
n40_oaps_1noise/act_sequence_n40_sample2.dat
n40_oaps_1noise/act_sequence_n40_sample3.dat
n40_oaps_1noise/act_sequence_n40_sample4.dat
n40_oaps_1noise/act_sequence_n40_sample5.dat
n40_oaps_1noise/act_sequence_n40_sample6.dat
n40_oaps_1noise/act_sequence_n40_sample7.dat
n40_oaps_1noise/act_sequence_n40_sample8.dat
n40_oaps_1noise/act_sequence_n40_sample9.dat
n40_oaps_1noise/act_sequence_n40_sample10.dat
n40_oaps_1noise/act_sequence_n40_sample11.dat
n40_oaps_1noise/act_sequence_n40_sample12.dat
n40_oaps_1noise/act_sequence_n40_sample13.dat
n40_oaps_1noise/act_sequence_n40_sample14.dat
n40_oaps_1noise/act_sequence_n40_sample15.dat
n40_oaps_1noise/act_sequence_n40_sample16.dat
n40_oaps_1noise/dc_ga.py
n40_oaps_1noise/dgamod.py
n40_oaps_1noise/gan40_oaps_1noise.ini
n40_oaps_1noise/nvsmaxfid.dat
n40_oaps_1noise/__pycache__/dgamod.cpython-39.pyc
out.out
out2.out
