__pycache__/
errores.log
histogram_test/
initial_trial_t5n/
n10_na_1i/
n10_na_si/
n10_og/
n10_og_ht/
n10_si/
n10_stats/
n11_na_1i/
n11_na_si/
n11_og/
n11_og_ht/
n11_si/
n12_na_1i/
n12_na_si/
n12_og/
n12_og_ht/
n12_si/
n13_na_1i/
n13_na_si/
n13_og/
n13_og_ht/
n13_si/
n14_na_1i/
n14_na_si/
n14_og/
n14_og_ht/
n14_si/
n15_na_1i/
n15_na_si/
n15_og/
n15_og_ht/
n15_si/
n16_na_1i/
n16_na_si/
n16_og/
n16_og_ht/
n16_si/
n17_na_1i/
n17_na_si/
n17_og/
n17_og_ht/
n17_si/
n18_na_1i/
n18_na_si/
n18_og/
n18_og_ht/
n18_si/
n19_na_1i/
n19_na_si/
n19_og/
n19_og_ht/
n19_si/
n6_na_1i/
n6_na_si/
n6_og/
n6_og_ht/
n6_si/
n7_na_1i/
n7_na_si/
n7_og/
n7_og_ht/
n7_si/act_sequence_n7_sample0.dat
n7_si/act_sequence_n7_sample1.dat
n7_si/act_sequence_n7_sample2.dat
n7_si/act_sequence_n7_sample3.dat
n7_si/act_sequence_n7_sample5.dat
n7_si/act_sequence_n7_sample6.dat
n7_si/act_sequence_n7_sample7.dat
n7_si/act_sequence_n7_sample8.dat
n7_si/act_sequence_n7_sample9.dat
n7_si/dc_ga_separate_instances.py
n7_si/dgamod.py
n7_si/gan7_si.ini
n7_si/nvsmaxfid.dat
n8_na_1i/
n8_na_si/
n8_og/
n8_og_ht/
n8_si/__pycache__/
n8_si/act_sequence_n8_sample0.dat
n8_si/act_sequence_n8_sample1.dat
n8_si/act_sequence_n8_sample2.dat
n8_si/act_sequence_n8_sample3.dat
n8_si/act_sequence_n8_sample4.dat
n8_si/act_sequence_n8_sample5.dat
n8_si/act_sequence_n8_sample7.dat
n8_si/act_sequence_n8_sample8.dat
n8_si/act_sequence_n8_sample9.dat
n8_si/dc_ga_separate_instances.py
n8_si/dgamod.py
n8_si/gan8_si.ini
n8_si/nvsmaxfid.dat
n9_na_1i/
n9_na_si/
n9_og/
n9_og_ht/
n9_si/__pycache__/
n9_si/act_sequence_n9_sample0.dat
n9_si/act_sequence_n9_sample1.dat
n9_si/act_sequence_n9_sample2.dat
n9_si/act_sequence_n9_sample4.dat
n9_si/act_sequence_n9_sample5.dat
n9_si/act_sequence_n9_sample6.dat
n9_si/act_sequence_n9_sample7.dat
n9_si/act_sequence_n9_sample8.dat
n9_si/act_sequence_n9_sample9.dat
n9_si/dc_ga_separate_instances.py
n9_si/dgamod.py
n9_si/gan9_si.ini
n9_si/nvsmaxfid.dat
resultados1/
reward_based_t5n/
test10_ht/
test10_new_actions/
test6/
test_new/
testna/
testrd/
test/act_sequence_n10_sample0.dat
test/act_sequence_n10_sample1.dat
test/act_sequence_n10_sample2.dat
test/act_sequence_n10_sample3.dat
test/act_sequence_n10_sample4.dat
test/act_sequence_n10_sample5.dat
test/act_sequence_n10_sample6.dat
test/act_sequence_n10_sample7.dat
test/act_sequence_n10_sample8.dat
test/act_sequence_n10_sample9.dat
test/act_sequence_n15_sample0.dat
test/act_sequence_n15_sample1.dat
test/dc_ga_separate_instances.py
test/dc_ga.py
test/dgamod.py
test/gatest.ini
test/nvsmaxfid.dat
test2/act_sequence_n10_sample0.dat
test2/act_sequence_n10_sample1.dat
test2/act_sequence_n10_sample2.dat
test2/act_sequence_n10_sample3.dat
test2/act_sequence_n10_sample4.dat
test2/act_sequence_n10_sample5.dat
test2/act_sequence_n10_sample6.dat
test2/dc_ga.py
test2/dgamod.py
test2/gatest2.ini
test2/nvsmaxfid.dat
test2/act_sequence_n18_sample0.dat
n16_ps2048_001/dc_ga_profiling.py
n16_ps2048_001/dgamod.py
n16_ps2048_001/gan16_ps2048_001.ini
n16_ps2048_001/ppfunction_results.prof
n16_ps2048_001/ppfunction_results.txt
n16_ps2048_001/profiling_results.csv
n16_ps2048_001/profiling_summary.csv
n32_ps256_001/dc_ga_profiling.py
n32_ps256_001/dgamod.py
n32_ps256_001/gan32_ps256_001.ini
n32_ps256_001/ppfunction_results.prof
n32_ps256_001/ppfunction_results.txt
n32_ps256_001/profiling_results.csv
n32_ps256_001/profiling_summary.csv
n16_ps4096_001/dc_ga_profiling.py
n16_ps4096_001/dgamod.py
n16_ps4096_001/gan16_ps4096_001.ini
n16_ps4096_001/ppfunction_results.prof
n16_ps4096_001/ppfunction_results.txt
n16_ps4096_001/profiling_results.csv
n16_ps4096_001/profiling_summary.csv
n32_ps512_001/dc_ga_profiling.py
n32_ps512_001/dgamod.py
n32_ps512_001/gan32_ps512_001.ini
