reward_based_t5n/act_sequence_n6_sample0.dat
reward_based_t5n/act_sequence_n6_sample1.dat
reward_based_t5n/act_sequence_n6_sample2.dat
reward_based_t5n/act_sequence_n6_sample3.dat
reward_based_t5n/act_sequence_n6_sample4.dat
reward_based_t5n/act_sequence_n9_sample0.dat
reward_based_t5n/act_sequence_n9_sample1.dat
reward_based_t5n/act_sequence_n9_sample2.dat
reward_based_t5n/act_sequence_n9_sample3.dat
reward_based_t5n/act_sequence_n9_sample4.dat
reward_based_t5n/act_sequence_n12_sample0.dat
reward_based_t5n/act_sequence_n12_sample1.dat
reward_based_t5n/act_sequence_n12_sample2.dat
reward_based_t5n/act_sequence_n12_sample3.dat
reward_based_t5n/act_sequence_n12_sample4.dat
reward_based_t5n/act_sequence_n15_sample0.dat
reward_based_t5n/act_sequence_n15_sample1.dat
reward_based_t5n/act_sequence_n15_sample2.dat
reward_based_t5n/act_sequence_n15_sample3.dat
reward_based_t5n/act_sequence_n15_sample4.dat
reward_based_t5n/act_sequence_n18_sample0.dat
reward_based_t5n/act_sequence_n18_sample1.dat
reward_based_t5n/act_sequence_n18_sample2.dat
reward_based_t5n/dc_ga.py
reward_based_t5n/dgamod.py
reward_based_t5n/gareward_based_t5n.ini
reward_based_t5n/nvsmaxfid.dat
reward_based_t5n/out.out
reward_based_t5n/__pycache__/dgamod.cpython-37.pyc
reward_based_t5n/__pycache__/dgamod.cpython-38.pyc
initial_trial_t5n/act_sequence_n6_sample0.dat
initial_trial_t5n/dc_ga.py
initial_trial_t5n/dgamod.py
initial_trial_t5n/gainitial_trial_t5n.ini
initial_trial_t5n/nvsmaxfid.dat
initial_trial_t5n/__pycache__/dgamod.cpython-38.pyc
n15_t5n_rws/act_sequence_n15_sample0.dat
n15_t5n_rws/act_sequence_n15_sample1.dat
n15_t5n_rws/act_sequence_n15_sample2.dat
n15_t5n_rws/act_sequence_n15_sample3.dat
n15_t5n_rws/act_sequence_n15_sample4.dat
n15_t5n_rws/act_sequence_n15_sample5.dat
n15_t5n_rws/act_sequence_n15_sample6.dat
n15_t5n_rws/act_sequence_n15_sample7.dat
n15_t5n_rws/act_sequence_n15_sample8.dat
n15_t5n_rws/act_sequence_n15_sample9.dat
n15_t5n_rws/dc_ga.py
n15_t5n_rws/dgamod.py
n15_t5n_rws/gan15_t5n_rws.ini
n15_t5n_rws/nvsmaxfid.dat
n15_t5n_rws/__pycache__/dgamod.cpython-38.pyc
test15/act_sequence_n15_sample0.dat
test15/act_sequence_n15_sample1.dat
test15/act_sequence_n15_sample2.dat
test15/act_sequence_n15_sample3.dat
test15/act_sequence_n15_sample4.dat
test15/dc_ga.py
test15/dgamod.py
test15/gatest15.ini
test15/nvsmaxfid.dat
test15/__pycache__/dgamod.cpython-38.pyc
test15/hist_frames/hist_frame001.png
test15/hist_frames/hist_frame005.png
test15/hist_frames/hist_frame010.png
test15/hist_frames/hist_frame015.png
test15/hist_frames/hist_frame020.png
test15/hist_frames/hist_frame025.png
test15/hist_frames/hist_frame030.png
test15/hist_frames/hist_frame035.png
test15/hist_frames/hist_frame040.png
test15/hist_frames/hist_frame045.png
test15/hist_frames/hist_frame050.png
test15/hist_frames/hist_frame055.png
test15/hist_frames/hist_frame060.png
test15/hist_frames/hist_frame065.png
test15/hist_frames/hist_frame070.png
test15/hist_frames/hist_frame075.png
test15/hist_frames/hist_frame080.png
test15/hist_frames/hist_frame085.png
test15/hist_frames/hist_frame090.png
test15/hist_frames/hist_frame095.png
test15/hist_frames/hist_frame100.png
test15/hist_frames/hist_frame105.png
test15/hist_frames/hist_frame110.png
test15/hist_frames/hist_frame115.png
test15/hist_frames/hist_frame120.png
test15/hist_frames/hist_frame125.png
test15/hist_frames/hist_frame130.png
test15/hist_frames/hist_frame135.png
test15/hist_frames/hist_frame140.png
test15/hist_frames/hist_frame145.png
test15/hist_frames/hist_frame150.png
test15/hist_frames/hist_frame155.png
test15/hist_frames/hist_frame160.png
test15/hist_frames/hist_frame165.png
test15/hist_frames/hist_frame170.png
test15/hist_frames/hist_frame175.png
test15/hist_frames/hist_frame180.png
test15/hist_frames/hist_frame185.png
test15/hist_frames/hist_frame190.png
test15/hist_frames/hist_frame195.png
test15/hist_frames/hist_frame200.png
n15_test2/act_sequence_n15_sample0.dat
n15_test2/act_sequence_n15_sample1.dat
n15_test2/act_sequence_n15_sample2.dat
n15_test2/act_sequence_n15_sample3.dat
n15_test2/act_sequence_n15_sample4.dat
n15_test2/dc_ga.py
n15_test2/dgamod.py
n15_test2/gan15_test2.ini
n15_test2/nvsmaxfid.dat
n15_test2/__pycache__/dgamod.cpython-38.pyc
n12_actions/act_sequence_n12_sample0.dat
n12_actions/act_sequence_n12_sample1.dat
n12_actions/act_sequence_n12_sample2.dat
n12_actions/dc_ga.py
n12_actions/dgamod.py
n12_actions/gan12_actions.ini
n12_actions/nvsmaxfid.dat
n12_actions/__pycache__/dgamod.cpython-38.pyc
n12_actions/hist_frames/gene_dist001.png
n12_actions/hist_frames/gene_dist005.png
n12_actions/hist_frames/gene_dist010.png
n12_actions/hist_frames/gene_dist015.png
n12_actions/hist_frames/gene_dist020.png
n12_actions/hist_frames/gene_dist025.png
n12_actions/hist_frames/gene_dist030.png
n12_actions/hist_frames/hist_frame001.png
n12_actions/hist_frames/hist_frame005.png
n12_actions/hist_frames/hist_frame010.png
n12_actions/hist_frames/hist_frame015.png
n12_actions/hist_frames/hist_frame020.png
n12_actions/hist_frames/hist_frame025.png
n12_actions/hist_frames/hist_frame030.png
histogram_test/act_sequence_n9_sample0.dat
histogram_test/dc_ga.py
histogram_test/dgamod.py
histogram_test/gahistogram_test.ini
histogram_test/nvsmaxfid.dat
histogram_test/__pycache__/dgamod.cpython-38.pyc
histogram_test/hist_frames/gene_dist001.png
histogram_test/hist_frames/gene_dist005.png
histogram_test/hist_frames/gene_dist010.png
histogram_test/hist_frames/gene_dist015.png
histogram_test/hist_frames/hist_frame001.png
histogram_test/hist_frames/hist_frame005.png
histogram_test/hist_frames/hist_frame010.png
histogram_test/hist_frames/hist_frame015.png
